@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-surface text-on-surface min-h-screen pb-24 font-['Public_Sans',sans-serif]; 
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}
